/.build/
__pycache__/
/ccache-bin/
/build/
/build-tools/
/winecx/
/llvm-mingw-*/
/staging/
/addons/
/payload/
/Libraries/
*.tar.gz
*.tar.xz
*.tar.zst
*.nar
/store-outs.txt
/native-store-outs.txt
/nix-tool-outs.txt
/sysroot.env
/closure-paths.txt
